.profile-page {
    background-image: linear-gradient(rgba(237, 248, 233, 0.9), rgba(237, 248, 233, 0.9)), url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
