.scan-page {
    background-image: linear-gradient(rgba(237, 248, 233, 0.9), rgba(237, 248, 233, 0.9)), url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.qr-scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;

    video {
        border-radius: 20px;
        overflow: hidden;
        object-fit: cover;
    }

    svg {
        border-radius: 0px;
        height: 300px;
        width: 100%;

        path {
            stroke: $primary-green-light;
            stroke-width: 2;
        }
    }

    > div {
        border-radius: 20px;
        overflow: hidden;
    }
}

.qr-scanner-container h1 {
    font-size: 1.5rem;
    margin: 10px;
    color: #333;
}

.scooter-info {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    overflow: hidden;

    .scooter-info-body {
        padding: 1rem;

        div {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 2rem;

            button {
                flex: 1;
                background-color: $primary-green-dark;
                font-size: 1rem;
                font-weight: 500;
                border: none;
                padding: 12px 20px;
                border-radius: 5px;
                cursor: pointer;
                color: black;

                &:last-child {
                    background-color: #d61e2a;
                }
            }
        }
    }

    h3 {
        background-color: $primary-green-light;
        padding: 1rem;
        text-align: center;
    }

    p {
        margin: 5px 0;
        color: #555;
        font-weight: 500;
    }
}
