* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font, serif;
}

html,
body {
    line-height: 1.15;
    height: 100dvh;
    overflow: hidden;
    background-color: $primary-green-lightest;
    -webkit-tap-highlight-color: transparent;
}

body ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.container {
    height: 100dvh;
    padding: 1rem;
}
